body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 90px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.img-wh{
    width: 60px;
    height: 60px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.media-heading{
    font-weight: bolder;
}
.media{
    border: 1px solid #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.li-length{
    width: 90px;
    text-align: center;
    font-size: 15px;
    font-family: 楷体;
}
.nav-top-margin{
    margin: 5px;
}